# Node
node_modules/
dist/
.next/
npm-debug.log
yarn-error.log

# .NET
bin/
obj/
*.user
*.vs/

# Env
.env
.env.local
.env.*.local

# Docker
docker-compose.override.yml
**/Dockerfile.*.swp

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db